
body {
    display : grid;
    grid-template-areas : "header"
                          "content"
                          "footer";
    grid-template-rows : 5fr 10fr 5fr 
}


.matches_area{

    margin : 0 4rem 0 4rem;
    padding : 2rem;

    grid-area : content;
    border : solid var(--border) ;
    border-radius : 20px ;

    text-align: center;

    display : flex;
    flex-direction : column ;
}

.matches_list {
    display : grid;
    grid-template-columns : repeat(2, 1fr);
    gap: 1rem;
    place-items : center;

}

.match_container {

    padding : 2rem;
    display : flex;
    flex-direction : column;
    color: var(--text);
    max-width: 15rem;

    border : solid var(--border) ;
    border-radius : 20px ;

    width : fit-content

}

.detail_match {
    display : flex;
    flex-direction : column ;
    gap : 0.5rem;
}

.params{
    display : flex;
    gap : 1rem;
    background : var(--main_color);
    border-radius: 15px;
    padding : 0.2rem;

}

.icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}