:root {
    --title      : #80586D;
    --bg_color   : #C49D83;
    --main_color : #9E8277;
    --text       : #A76844;
    --border     : #9F5540;

}

body{
    background-color: var(--bg_color);
    font-family : "boring"
}

@font-face {
  font-family: "boring";
  src: url("../Boring Time.otf");
}